    <!--! Footer Scripts -->
    <script src="/assets/vendors/js/vendors.min.js"></script>
    <% if (typeof extraJs !== 'undefined' && extraJs) { %>
        <%- extraJs %>
    <% } %>
    <script src="/assets/js/common-init.min.js"></script>
    <script src="/assets/js/theme-customizer-init.min.js"></script>
</body>
</html>
