<%- include('../partials/header.ejs') %>
      <div class="page-wrapper">
        <div class="page-breadcrumb">
          <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
              <h4 class="page-title">Add Category</h4>
              <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Category</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 mx-auto">
              <div class="card">
                <form class="form-horizontal" action="/admin/add-category" method="POST" enctype="multipart/form-data">
                  <div class="card-body">
                    <h4 class="card-title">Add Category</h4>
                    <div id="alertArea"></div>
                    <div class="form-group row">
                      <label for="catName" class="col-sm-3 text-end control-label col-form-label">Category Name</label>
                      <div class="col-sm-9">
                        <input type="text" class="form-control" id="catName" name="name" placeholder="Category Name Here" required />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="catImage" class="col-sm-3 text-end control-label col-form-label">Category Image</label>
                      <div class="col-sm-9">
                        <input type="file" class="form-control" id="catImage" name="image" accept="image/*" required />
                      </div>
                    </div>
                  </div>
                  <div class="border-top">
                    <div class="card-body">
                      <button type="submit" class="btn btn-primary" style="background-color: #7460ee; border-color: #7460ee;" id="submitBtn">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

<%- include('../partials/footer.ejs') %>
